.bara {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  background-color: red;
}
/* explore tripto in motion */

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-video-wrapper {
  position: relative;
}

.main-video-wrapper video {
  width: 650px;
  max-width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;

  position: relative;
  z-index: 2; 
}


.main-video-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, rgba(0,0,0,0.6), transparent);
  border-radius: 12px;

  pointer-events: none; /* 🔥 يسمح بالضغط على controls */
  z-index: 1;
}


.overlay-content {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  max-width: 300px;
  z-index: 3;
}

.overlay-content h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.overlay-content p {
  font-size: 14px;
  margin-bottom: 12px;
}

.overlay-content button {
  background: #2563eb;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 12px;
  color: white;
  border: none;
  cursor: pointer;
}

.slides {
  display: flex;
  gap: 10px;
  justify-content: center;
  direction: rtl; /* 👈 RTL */
}


.slide {
  position: relative;
  width: 110px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  opacity: 0.6;
  transition: 0.3s;
  border: 2px solid transparent;
}

.slide.active {
  opacity: 1;
  border-color: #2563eb;
  transform: scale(1.1);
}


.slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slide-info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  font-size: 10px;
  z-index: 2;
}